In [ ]:
import pandas as pd
import numpy as np
from html2text import html2text
from tqdm import tqdm, tqdm_pandas
from hazm import word_tokenize
from sqlalchemy import create_engine
import sqlite3 as db
tqdm.pandas()

### load data files

In [ ]:
%cd data
files=["ir-news-0-2.csv","ir-news-2-4.csv","ir-news-10-12.csv","ir-news-4-6.csv","ir-news-6-8.csv","ir-news-8-10.csv"]
df=pd.concat([pd.read_csv(file)for file in files[:]],ignore_index=True)

In [ ]:
cnx = create_engine('sqlite:///my.db', echo=False)

In [ ]:
cnx.execute('SELECT name FROM sqlite_master WHERE type="table";').fetchall()

### html to text context

In [ ]:
df["content_plain"]=df["content"].progress_apply(html2text)

### import words to sql DB

In [ ]:
# drop words
# words_drop_sql = 'drop table words'
# cnx.execute(words_drop_sql,cnx)

In [ ]:
buffer=[]
def buffer2sql():
    global buffer
    with cnx.connect() as con:
        buffer_df=pd.concat(buffer,ignore_index=True)
        buffer_df.to_sql('words', con, if_exists='append',index=False)
        buffer=[]
    
for doc_i,doc in tqdm(df.iterrows(),total=df.shape[0]):
    
    words=pd.DataFrame(word_tokenize(doc["content_plain"]),columns=['word'])
    words['doc_id']=doc_i
    
    buffer.append(words)
    if len(buffer)>20 :
        buffer2sql()
if len(buffer)>0:
     buffer2sql()

### Remove stop words

In [ ]:
# drop stop words
# sw_drop_sql = 'drop table stop_words'
# cnx.execute(sw_drop_sql,cnx)

In [ ]:
stop_words_sql = """
select word as sw,c0 ,(c0/c1) as c 
from(
    SELECT *,COUNT(*) as c0,COUNT(DISTINCT doc_id) as c1
    FROM words
    GROUP BY word
    having COUNT(DISTINCT doc_id)>100
    ORDER BY COUNT(*) desc
)
where c>4
order by c desc; 
"""
sw=pd.read_sql(stop_words_sql, cnx).loc[:,'sw']
sw.to_csv('stop_word.txt',index=False)

In [ ]:
# unique_words_sql = """
# select count(*)
# from
# (
#     SELECT *
#     FROM words
#     GROUP BY word
#     ORDER BY COUNT(*)
# );
# """
# pd.read_sql(unique_words_sql, cnx)

#### all words before removing

In [ ]:
pd.read_sql('select count(*) from words', cnx)

### stop words to DB

In [ ]:
sw=pd.read_csv('stop_words.txt')
sw.to_sql('stop_words', cnx,index=False)
pd.read_sql_table('stop_words', cnx)

### delete stop words

In [ ]:
group_sql = """
DELETE FROM words
WHERE word in (
    SELECT sw FROM stop_words
)
; 
"""
cnx.execute(group_sql).fetchall()

### all words after removing stop words

In [ ]:
pd.read_sql('select count(*) from words', cnx)

# tf - idf
## tf

## term freq per doc

In [ ]:
term_freq_sql = """
CREATE TABLE term_freq_per_doc AS
SELECT word,doc_id,COUNT(*) as repeat 
FROM words
GROUP BY word,doc_id
ORDER BY COUNT(*) desc; 
"""
cnx.execute(term_freq_sql).fetchall()
# pd.read_sql(term_freq_sql, cnx).to_sql('term_freq_per_doc', cnx, index=False)

In [ ]:
ftd_c=pd.read_sql('select count(*) from term_freq_per_doc',cnx).iloc[0]['count(*)']
ftd_df=pd.read_sql_table('term_freq_per_doc', cnx)

In [ ]:
c_size=10_000
ftd_gen = range(0,ftd_c,c_size)
for offset in tqdm(ftd_gen,total=ftd_c//c_size):
    ftd_sql=f"""
    select * 
    from term_freq_per_doc
    limit {c_size}
    offset {offset}
    """
    ftd=pd.read_sql(ftd_sql,cnx)
    ftd['tf']=1+np.log(ftd['repeat'])
    ftd.to_sql('ftd', cnx,if_exists='append', index=False)
del ftd_df

# idf
## term freq in all

In [ ]:
term_freq_all_sql = """
CREATE TABLE term_freq_all AS
SELECT word,COUNT(*) as repeat
FROM words
GROUP BY word
ORDER BY COUNT(*) desc; 
"""
cnx.execute(term_freq_all_sql)
# pd.read_sql(term_freq_all_sql, ).to_sql('term_freq_all', cnx, index=False)

In [ ]:
nt=pd.read_sql_table('term_freq_all', cnx)
N=nt['repeat'].sum()
nt['idf']=np.log(N/nt['repeat'])
# nt
nt.to_sql('idf', cnx, index=False)
del nt

### aggregate for tf - idfs

In [ ]:
tf_idf_sql = """
CREATE TABLE tf_idf AS
SELECT t.word,doc_id,tf,idf,tf*idf as "tf-idf"
FROM ftd t
LEFT JOIN idf d
ON t.word = d.word;
"""
cnx.execute(tf_idf_sql)

In [ ]:
rnd_doc_sql = f"""
SELECT *
FROM tf_idf 
WHERE doc_id=(SELECT doc_id FROM tf_idf ORDER BY RANDOM() LIMIT 1)
ORDER BY "tf-idf" desc;
"""
rnd_doc_df=pd.read_sql(rnd_doc_sql, cnx)

In [ ]:
rnd_doc_df

<p style='color:red'>shows that tf-idf increase by importance</p>

In [ ]:
cnx.execute('CREATE INDEX word_i ON tf_idf(word);')
cnx.execute('CREATE INDEX doc_id_i ON tf_idf(doc_id);')
cnx.execute('CREATE INDEX word_doc_id_i ON tf_idf(word,doc_id);')

# vec similarity

In [ ]:
tf_cham_sql = """
CREATE TABLE champion AS
select * from
  (SELECT
        RANK () OVER (
            PARTITION BY word
            ORDER BY "tf-idf" desc
        ) as rank_tfid,
           word,doc_id,"tf-idf"
        FROM tf_idf
    )
where rank_tfid<20;
"""
cnx.execute(tf_cham_sql)

In [ ]:
def df2vec(doc):
    vec=doc['tf-idf'].copy()
    vec.index=doc['word']
    return vec

def vec_sim(doc_a,doc_b):
    vec_a=df2vec(doc_a)
    vec_b=df2vec(doc_b)
    subs_words={*vec_b.index}.intersection({*vec_a.index})
    sim=(vec_a[subs_words]*vec_b[subs_words]).sum()/(vec_a.sum()*vec_b.sum())
    return sim
def get_query_str():
    print('\t\tGOOGLE.COM')
    print('\t\tPress Enter')
    query=input()
    q_words=word_tokenize(query)
    return q_words
def get_query_vec(q_words):
    q_repeat={}
    for q_word in q_words:
        if q_word not in q_repeat:
            q_repeat[q_word]=0
        q_repeat[q_word]+=1
    words=[]
    repeats=[]
    for word,repeat in q_repeat.items():
        words.append(word)
        repeats.append(repeat)
    q_df=pd.DataFrame({'word':words,'repeat':repeat})
    q_df['tf']=1+np.log(q_df['repeat'])
    N=pd.read_sql( f"""
         SELECT sum(repeat) 
         FROM term_freq_all;
         """, cnx).iloc[0].iloc[0]
    for row_i,row in q_df.iterrows():
        idf_res=pd.read_sql( f"""
        SELECT idf
        FROM idf 
        WHERE word='{row['word']}';
        """, cnx)
        q_df.loc[row_i,'idf']=idf_res.loc[0,'idf'] if idf_res.size>0 else np.log(N)
    q_df["tf-idf"]=q_df["tf"]*q_df["idf"]
    return q_df
def apply_query(ref_docs,q_words):
    q_df=get_query_vec(query)
    sims={}
    for doc_i in tqdm([*ref_docs.index][:100]):
        doc_vec=pd.read_sql( f"""
        SELECT *
        FROM tf_idf 
        WHERE doc_id='{doc_i}';
        """, cnx)
        sims[doc_i]=vec_sim(q_df,doc_vec)
    res_id=pd.Series(sims).nlargest(10)
    return df.loc[res_id.index,:]

# slow search

In [ ]:
query=get_query_str()
search_res=apply_query(df,query)
search_res

# with champion list

In [49]:
query=get_query_str()
values_str=str(tuple(query))
if len(query)==1:
    values_str=values_str.replace(',','')
tf_cham_sql = f"""
select * 
from champion
where word in {values_str}
"""
tf_cham_sql
doc_ids=pd.read_sql(tf_cham_sql,cnx)['doc_id'].values.tolist()
champ_df=df.loc[doc_ids,:]
search_res=apply_query(champ_df,query)
search_res

		GOOGLE.COM
		Press Enter
مذاکرات کره شمالی

100%|██████████| 64/64 [00:00<00:00, 100.57it/s]

,publish_date,title,url,summary,source_url,meta_tags,content,category,subcategory,thumbnail
24362,"October 29th 2019, 11:12:00.000",هشدار مرد شماره ۲ کره شمالی به آمریکا,irna.ir,پکن- ایرنا- مرد شماره ۲ کره شمالی ضمن هشدار به...,irna.ir,"[""کره ‌شمالی"",""امريكا"",""کره جنوبی""]","<div class=""item-text"" itemprop=""articleBody"">...",NaN,NaN,NaN
18779,"October 29th 2019, 13:24:00.000",هشدار مرد شماره ۲ کره شمالی به آمریکا,khabaronline.ir,ایرنا نوشت: مرد شماره ۲ کره شمالی ضمن هشدار به...,khabaronline.ir,"[""کره شمالی"",""کره جنوبی"",""ایالات متحده آمریکا""]",<div> \n <p>خبرگزاری یونهاپ روز سه شنبه گزارش ...,NaN,NaN,https://media.khabaronline.ir/d/2019/10/29/3/5...
26067,"October 29th 2019, 22:16:00.000",پیونگ یانگ درخواست کره جنوبی برای مذاکره را رد...,irna.ir,پکن- ایرنا- کره شمالی درخواست رسمی کره جنوبی ب...,irna.ir,[],"<div class=""item-text"" itemprop=""articleBody"">...",NaN,NaN,NaN
51409,"October 27th 2019, 12:00:00.000",کره‌شمالی: ممکن است دوستی کیم جونگ اون با ترام...,entekhab.ir,پیونگ یانگ بامداد یکشنبه در مورد اتمام دوستی م...,entekhab.ir,"[""ایرنا"",""ایرنا""]","<div class=""body col-xs-36""> \n <a class=""ente...",NaN,NaN,https://www.entekhab.ir/files/fa/news/1398/8/5...
36888,"October 24th 2019, 13:14:00.000",پیونگ یانگ نسبت به حل اختلافات با واشنگتن ابرا...,irna.ir,تهران - ایرنا - مشاور وزیر خارجه کره شمالی در ...,irna.ir,"[""کیم جونگ اون"",""دونالد ترامپ"",""ایالات متحده آ...","<div class=""item-text"" itemprop=""articleBody"">...",NaN,NaN,NaN
22190,"October 29th 2019, 11:50:00.000",هشدار مرد شماره ۲ کره شمالی به آمریکا,tabnak.ir,NaN,tabnak.ir,"[""کره شمالی"",""مرد شماره دو"",""هشدار"",""آمریکا""]",<p>مرد شماره ۲ کره شمالی ضمن هشدار به واشنگتن ...,NaN,NaN,https://cdn.tabnak.ir/files/fa/news/1398/8/7/1...
54478,"October 27th 2019, 17:30:00.000",هشدار کره شمالی به آمریکا: روی اعصاب ما راه نروید,mashreghnews.ir,یک مقام ارشد کره شمالی در بیانیه‌ای تاکید کرده...,mashreghnews.ir,"[""کره شمالی"",""آمریکا"",""هشدار""]","<p><span style=""color:#ff0000"">به گزارش مشرق</...",NaN,NaN,https://cdn.mashreghnews.ir/d/2019/10/27/2/263...
25415,"October 29th 2019, 12:16:04.000",هشدار مرد شماره دو کره شمالی به آمریکا,borna.news,مرد شماره ۲ کره شمالی ضمن هشدار به واشنگتن از ...,borna.news,"[""خلع سلاح هسته ای"",""سوئد"",""شبه جزیره کره"",""کر...","<p style=""text-align:justify"">به گزارش گروه سی...",NaN,NaN,https://static1.borna.news/thumbnail/bs2rcINj9...
52714,"October 28th 2019, 14:44:00.000",احتمال ازسرگیری مذاکرات طالبان و آمریکا در آین...,irna.ir,"تهران- ایرنا- تارنمای خبری""تریبیون""‌ پاکستان ر...",irna.ir,"[""افغانستان"",""مذاکرات صلح"",""ایالات متحده آمریک...","<div class=""item-text"" itemprop=""articleBody"">...",NaN,NaN,NaN
21577,"October 29th 2019, 18:03:00.000","""آمریکا دست از سیاست‌های خصومت‌آمیزش در قبال ک...",isna.ir,رییس کمیته اجرایی مجمع عالی خلق کره شمالی از آ...,isna.ir,"[""کره شمالی""]",<p>به گزارش ایسنا، چوئه ریونگ هائه، رییس کمیته...,NaN,NaN,https://cdn.isna.ir/d/2019/08/22/3/57930438.jpg